DATABRICKS_WAREHOUSE_URI=s3://rdp-databricks-warehouse/unity/
AWS_ACCESS_KEY_ID=rdp_minio
AWS_SECRET_ACCESS_KEY=rdp_minio_secret
AWS_DEFAULT_REGION=us-east-1
AWS_ENDPOINT=http://127.0.0.1:9000
AWS_ALLOW_HTTP=true
